<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Huerta acuapónica inteligente</span>
  </div>
</nav>
<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTX4wNwEwTCU-N3nEKYNL3f9YpAk7EB3AJG0JONu_JwKJrT7O6FlVwY47upVhLrM0EwWXLgZ3dVMex3/pubhtml?gid=1451865188&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
<div class="ratio ratio-16x9">
  <iframe
    src="https://script.google.com/macros/s/AKfycbw0IA5LGT_i5CLhKH23udY8-EGB9KEUF8m4SrdxNZY2NGdb0_eorp8o3uyE-3iLKT8/exec"
    title="Huerta"
    allowfullscreen
  ></iframe>
</div>
